.obsidian
.clj-kondo
backend/.cpcache
.clj-kondo/
backend/.lsp
backend/.lsp/
backend/target
coverage/
web/node_modules/
web/dist/
web/.vite/
web/coverage/




# Ignore Smart Environment folder
.smart-env